* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.container {
  display: flex;
}

.container_border {
  border: 0.6em solid white;
  border-radius: 2em;
  background-color: red;
}

.grid {
  width: 20em;
  height: 40em;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.grid_border {
  border-color: white;
  border-style: solid;
  border-width: 0.6em 0.6em 0.6em 0;
  border-radius: 2em;
  background-color: black;
  width: 9em;
  height: 9em;
}

.tetromino {
  border: 0.3em solid white;
}

.grid div {
  height: 2em;
  width: 2em;
  border-radius: 40%;
}

.mini-grid {
  margin-left: 1.25em;
  width: 8em;
  height: 8em;
  display: flex;
  flex-wrap: wrap;
}

.mini-grid div {
  height: 2em;
  width: 2em;
  border-radius: 40%;
}

#start-button {
  position: absolute;
  left: calc(50vw);
  bottom: 1%;
  z-index: 1;
}

#score {
  color: white;
  position: absolute;
  top: 1%;
  left: calc(50vw + 1vmax);
  font-size: 2vmax;
  z-index: 1;
}

#return {
  color: white;
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 1;
}