* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

canvas {
    background-color: #FF00000A;
}

h3,span {
    color: white;
}


.grid {
    height: 83vh;
    width: 43vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    border: 1vh solid white;
}

.grid div {
    width: 3.8vh;
    height: 3.8vh;
    /*background-color: lightgray;*/
    border-radius: 25%;
}

.tetromino {
    background-color: red;
}
